@content = {
	 @navbar()

      <div class="parallax-layer">
        <div class="parallax-container">

          <div id="top"></div>

          <div id="logo" style="display: block;" class="row center-align">
            <div class="col s12 offset-m1 m10">
              <div class="logo-elessons logo-header"></div>
              <p>
                <h1 class="logo-titulo color-branco" style="line-height: 1px;">e-Lessons</h1>
                <h6 class="logo-titulo color-branco">by smart Educ</h6>
              </p>
            </div>
          </div>
          
          <div class="parallax"><img src="@routes.Assets.at("materialize/img/mapageral.jpg")"></div>
        </div>
      	</div>

        <div id="about"></div>
        <div class="divider"></div>
        <div class="section">

          <!-- CARD VIDEO -->
          <div class="row">
            <div class="col s12 offset-m2 m8">
              <div class="card defaultCard default-page-margin-top">
                <div class="card-content">
                  <div class="row">
                    <div class="card-title color-vermelho" style="line-height: 80%; letter-spacing: 3px;">

                      <div class="col s12 m4 hide-on-small-only"><i class="medium fa fa-info-circle" aria-hidden="true"></i></div>
                      <div class="col s12 m4 center-align" style="margin-top: 15px;"><span style="font-size: 40px;">About</span></div>

                    </div>
                  </div>

                  <div class="row center-align">
                    <div class="col s12 m6" style="margin-bottom: 15px;">
                      <i><p>O e-Lessons é uma ferramenta que disponibiliza atividades extra-classes em uma abordagem gamificada. A plataforma possui um conjunto de jogos onde pontos específicos da língua inglesa são trabalhados. Além disso, o sistema oferece um portal onde o professor pode cadastrar novas questões e obter o desempenho de cada aluno nas atividades.</p>
                      <br/>
                      <p>Venha você também conhecer essa ferramenta que vai mudar sua forma de exercitar o inglês!</p></i>
                    </div>

                    <div class="col s12 m6">
                      <div class="video-container">
                        <iframe width="420" height="315" src="https://www.youtube.com/embed/eojsv2QMMHY" frameborder="0" allowfullscreen></iframe>
                      </div>
                    </div>
                      
                  </div>
                </div>
              </div>
            </div>
          </div><!-- FIM card -->

        </div>

        <div id="icons" class="divider"></div>
         <div class="row" style="margin-bottom: -1px;">
            <div class="parallax-layer">
             <div class="parallax-container bg-mapgeral" style="min-height: 215px !important; height: auto !important; padding-top: 25px;">

                <div id="icon-student" class="col s12 m4">
                  <div class="row">
                    <div class="col s12 offset-m2 m8">
                      <div class="card defaultCard default-page-margin-top hoverable">
                        <div class="card-content">
                          <div class="row center-align">
                          	<i class="medium fa fa-graduation-cap color-azul" aria-hidden="true"></i><br/>
                            <strong>Student</strong>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="icon-playing" class="col s12 m4">
                  <div class="row">
                    <div class="col s12 offset-m2 m8">
                      <div class="card defaultCard default-page-margin-top hoverable">
                        <div class="card-content">
                          <div class="row center-align">
                          	<i class="medium fa fa-gamepad color-azul" aria-hidden="true"></i><br/>
                            <strong>Playing</strong>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="icon-questions" class="col s12 m4">
                  <div class="row">
                    <div class="col s12 offset-m2 m8">
                      <div class="card defaultCard default-page-margin-top hoverable">
                        <div class="card-content">
                          <div class="row center-align">
                          	<i class="medium fa fa-pencil color-azul" aria-hidden="true"></i><br/>
                            <strong>Questions</strong>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- <div class="parallax"><img src="@routes.Assets.at("materialize/img/mapageral.jpg")"></div> -->
              </div>
            </div>
          </div>
        </div>

        <div id="contact"></div>
        <div class="divider"></div>
        <div class="section">

          <!-- CARD CONTACT -->
          <div class="row">
            <div class="col s12 offset-m2 m8">
              <div class="card defaultCard default-page-margin-top">
                <div class="card-content">
                  <div class="row">
                    <div class="card-title color-vermelho" style="line-height: 80%; letter-spacing: 3px;">

                      <div class="col s12 m4 hide-on-small-only"><i class="medium fa fa-envelope" aria-hidden="true"></i></div>
                      <div class="col s12 m4 center-align" style="margin-top: 15px;"><span style="font-size: 40px;">Contact</span></div>

                    </div>

                  </div>
                  <div class="row">
                    <form id="formEmail" action="@routes.Application.enviarEmail()" method="post" class="col s12">

                      <div class="row">
                        <div class="input-field col s12 offset-m1 m10">
                          <input id="name" name="name" type="text" required>
                          <label for="name">Name*</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="input-field col s12 offset-m1 m10">
                          <input id="phone" name="phone" type="text" class="validate">
                          <label for="phone">Phone</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="input-field col s12 offset-m1 m10">
                          <input id="email" name="email" type="email" class="validate" required>
                          <label for="email">Email*</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="input-field col s12 offset-m1 m10">
                          <textarea id="message" name="message" class="materialize-textarea" required></textarea>
                          <label for="message">Message*</label>
                        </div>
                      </div>

                      <div class="row center-align">
                        <div class="input-field col s12">
                         <button type="submit" id="botao" class="waves-effect waves-light btn btn-medium bg-vermelho">submit</button>
                         <button type="submit" id="botao2" class="waves-effect waves-light btn btn-medium bg-cinza row center-align" style="display:none;" disabled>submitting...</button>
                        </div>
                      </div>

                      <div class="card-action" style="margin-bottom: -35px !important;">
                        * Required fields
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- FIM card -->
        </div>
    <script type="text/javascript">

    
    
    $("#formEmail").on("submit",function(){
      $("#botao").css("display","none");
      $("#botao2").css("display","block");
    });
    


    	$(document).ready(function(){
    		@if(flash().get("erro") != null){
			var $toastContent = $('<span>@flash().get("erro")</span>');
			Materialize.toast($toastContent, 5000);
    		}
    		@if(flash().get("ok") != null){	
    		var $toastContent = $('<span>@flash().get("ok")</span>');
    		Materialize.toast($toastContent, 5000);
        	}
    		
        	var options = [
        	    	 {
        	    	 	selector: '#icons', 
        	       	    offset: 200, 
        	       	    callback: function() {
        	       	       $('#icon-student').fadeIn(1000);
        	       	       $('#icon-playing').fadeIn(1000);
        	       	       $('#icon-questions').fadeIn(1000);
        	       	  } 
        	      }]; 
        	 Materialize.scrollFire(options);
		});
    </script>	
}

@main("e-Lessons")(content)
