<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unidade04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,125}</string>
                <key>spriteSourceSize</key>
                <string>{104,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,125}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>14 15 16 0 14 16 12 13 8 0 13 14 11 12 8 11 9 10 11 8 9 8 13 6 8 6 7 6 3 5 3 4 5 13 0 1 1 2 3 6 1 3 13 1 6</string>
                <key>vertices</key>
                <string>88 13 94 19 104 19 104 71 98 84 87 89 78 91 75 94 65 98 54 114 45 125 0 125 0 20 32 17 39 3 41 0 81 0</string>
                <key>verticesUV</key>
                <string>89 14 95 20 105 20 105 72 99 85 88 90 79 92 76 95 66 99 55 115 46 126 1 126 1 21 33 18 40 4 42 1 82 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unidade04.png</string>
            <key>size</key>
            <string>{106,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32adca8cb87de9ab44f87d939f60f0b3:ed328c0b2c0754615d0aa4a04e5b6145:d5e22fc829f8ec5d0d12fb9da94efbf9$</string>
            <key>textureFileName</key>
            <string>unidade04.png</string>
        </dict>
    </dict>
</plist>
