<!DOCTYPE html>
<html>
    <head>
    	<title></title>
    
	    @views.html.metatags()  
	        
	    @views.html.cssimports()
	    @views.html.cssextraimports()
	    
	    @views.html.jsimports()
    	@views.html.jsextraimports()
	    
	</head>

    <body class="bg-azul">
    	
	    <div class="container">
	    
	   
          <div id="story1" class="modal modal-fixed-footer" style="display:block;">
            <div class="modal-content">
              <div class="col s12 m12">
              	<div class="row" style="margin-bottom: 0px !important;">
                   <div class="col s12 offset-m1 m10">
                   	
                   	<div class="row">
	              		<img class="left" src="@routes.Assets.at("images/chris.png")" />
	              		<img class="right" src="@routes.Assets.at("images/university.png")" />
              		</div>
              		<div class="row">
						<h5>Chris is a foreign student traveling in another country called Mercury.<br/><br/>
						Chris's dream is studying at the university in Mercury.</h5>
					</div>
                     
                   </div>
                 </div>
              </div>
            </div>
          <div class="modal-footer">
              <a style="cursor:pointer;" class="modal-action btn-flat color-branco bg-verde right" onclick="next();">>></a>
            </div>
          </div>

          <div id="story2" class="modal modal-fixed-footer" style="display:none;">
            <div class="modal-content">
              <div class="col s12 m12">
              	<div class="row" style="margin-bottom: 0px !important;">
                   <div class="col s12 offset-m1 m10">
                      
                    <div class="row">
	              		<img class="left" src="@routes.Assets.at("images/chrisenglish.png")" />
              		</div>
              		<div class="row">
						<h5>However, Chris does not speak english very well.<br/><br/>
						So he should improve his english skills to be admitted to the university.</h5>
					</div>
					
                   </div>
                 </div>
              </div>
            </div>
          <div class="modal-footer">
              <a style="cursor:pointer;" class="modal-action btn-flat color-branco bg-verde right" onclick="next();">>></a>
              <a style="cursor:pointer;" class="modal-action modal-close btn-flat left" onclick="previous();"><<</a>
            </div>
          </div>
          
          <div id="story3" class="modal modal-fixed-footer" style="display:none;">
            <div class="modal-content">
              <div class="col s12 m12">
              	<div class="row" style="margin-bottom: 0px !important;">
                   <div class="col s12 offset-m1 m10">
                   
                    <div class="row">
	              		<img class="left" src="@routes.Assets.at("images/chris.png")" />
	              		<img class="right" src="@routes.Assets.at("images/chrismap.png")" />
              		</div>
              		<div class="row">
						<h5>Help Chris to improve his english skills for achieving his goal through the mysterious Mercury.</h5>
					</div>
                     
                   </div>
                 </div>
              </div>
            </div>
          <div class="modal-footer">
              <a style="cursor:pointer;" class="modal-action btn-flat color-branco bg-verde right" onclick="start();">START!</a>
              <a style="cursor:pointer;" class="modal-action modal-close btn-flat left" onclick="previous();"><<</a>
            </div>
          </div>			  
	    </div>
	    
		<script type="text/javascript">	    
		    var card = 1;
	  		function next(){
	  			$("#story"+card).hide(500);
	  			card++;
	  			$("#story"+card).show(500);
	  		}
	  		
			function previous(){
				$("#story"+card).hide(500);
	  			card--;
	  			$("#story"+card).show(500);
	  		}
			
			function start(){
	  			window.location.assign("index2.html");
	  		}
	  	</script>
    </body>
</html>
