@(p : models.Professor)(qntAlunos: Integer)(qntQuestoes: Integer)(listaAluno:List[Aluno])(qntPontuacaoAlunos: Integer)
@content = {

		 @navbar()
		  
		 <!-- CARD MAIN -->
          <div class="row">
            <div class="col s12 offset-m1 m10">
              <div class="card defaultCard default-page-margin-top">
                <div class="card-content">

                  <div class="row">
                    <div class="card-title color-vermelho" style="line-height: 80%; letter-spacing: 3px;">

                      <div class="col s12 m4 hide-on-small-only"><i class="medium fa fa-pie-chart"></i></div>
                      <div class="col s12 m4 center-align" style="margin-top: 15px;"><span style="font-size: 40px;">Dashboard</span></div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col s12 offset-m1 m10">
                      <div class="row">
                        <h4 style="margin-left: 10px;">@p.getNome().</h4>
                      </div>
                      <div class="row center-align">
                        <!--<div class="col s12 m4">
                          <div class="tag bg-cinza color-cinza">
                            <i class="fa fa-book material-icons" aria-hidden="true"></i> 3 Turmas
                          </div>
                        </div>!-->
                        <div class="col s12">
                          <div class="tag bg-cinza color-cinza">
                            <i class="fa fa-graduation-cap material-icons"></i><a href="@routes.ProfessorController.alunos()">@if(qntAlunos == 0){None student} @if(qntAlunos == 1){1 Student} @if(qntAlunos > 1){@qntAlunos Students}</a>
                          </div>
                        </div>
                        <div class="col s12">
                          <div class="tag bg-cinza color-cinza">
                            <i class="fa fa-question material-icons"></i><a href="@routes.ProfessorController.questoes()">@if(p.getQuestoes().size() == 0){None question} @if(p.getQuestoes().size() == 1){1 Question} @if(p.getQuestoes().size() > 1){@p.getQuestoes().size() Questions}</a>
                          </div>
                        </div>    
                      </div>
                      <div class="row center-align">
                        <div class="col s6 m6">
                          <a onclick="movimento('pontuacaoTotal', 90)" class="waves-effect waves-light">Total question score by total students score</a>
                        </div>
                        <div class="col s6 m6">
                          <a onclick="movimento('rank', 90)" class="waves-effect waves-light">Go to top 10 students</a>
                        </div>
                      </div>
                      <hr>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col s12 offset-m1 m10">
                      <div id="pontuacaoTotal"><h5>Total question score by total students score:</h5></div>
                      <div id="bar-chart"></div>

                            <!-- Chart captions !-->
                            <ul>
                            <li><i class="tiny-small fa fa-stop material-icons" style="color:#0770E2"></i><a style="color:#444">&nbspNumber of questions answered from this teacher x Maximum score of a question(200)</a></li>
                            <li><i class="tiny-small fa fa-stop material-icons" style="color:#00773C"></i><a style="color:#444">&nbspTotal score of all answered questions from the students of this teacher</a></li>
                            </ul>
                            <!-- End Chart captions !--> 

                      <hr>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col s12 offset-m1 m10">
                      <div id="rank"><h5>Top 10 students:</h5></div>
                        <table data-sort-name="pos" data-sort-order="asc" data-toggle="table" data-page-size="10" data-search="true" data-pagination="false" data-cache="false" class="students-table">
	                    <thead>
	                       <tr>
	                       		<th data-field="pos" data-sortable="true">Position</th>
		                       	<th data-field="name" data-sortable="true">Name</th>
		                       	<th data-field="level" data-sortable="true">Level</th>
		                       	<th data-field="score" data-sortable="true">Score</th>
	                       </tr>
	                    </thead>
	                    <tbody>
	                    	<!-- for a partir daqui { -->
	                        @for(index <- 0 until listaAluno.size()){
		                      <tr>
		                      	<td>@(index+1)</td>
		                      	<td>@listaAluno.get(index).getNome()</td>
		                      	<td>
									@if(listaAluno.get(index).getLevel() >= 1 && listaAluno.get(index).getLevel() <= 5){1}
									@if(listaAluno.get(index).getLevel() >= 6 && listaAluno.get(index).getLevel() <= 10){2}
									@if(listaAluno.get(index).getLevel() >= 11 && listaAluno.get(index).getLevel() <= 15){3}
									@if(listaAluno.get(index).getLevel() >= 16 && listaAluno.get(index).getLevel() <= 20){4}
									@if(listaAluno.get(index).getLevel() > 20){4}
								</td>
		                      	<td>@listaAluno.get(index).getPontuacao()</td>
		                      </tr>
	                        }
	                      	<!-- for até aqui } -->
	                    </tbody>
	                  </table>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div><!-- FIM card -->
          
          <script type="text/javascript">
		  $(document).ready(function(){
		    drawChart();
		  });

		    function drawChart(){
        $('#bar-chart').html("loading");
        setTimeout(function(){
          $('#bar-chart').html("");
          Morris.Bar({
            element: 'bar-chart',
            data: [
              { y: 'Total score', a: @(qntQuestoes*200), b: @qntPontuacaoAlunos },
            ],
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['questions', 'students'],
            barColors: ['#0770E2','#00773C'],
            resize: true
          });
        }, 0);
    }
		  </script>
}

@main("Teacher, e-Lessons")(content)
