@(p : models.Professor)(qntAlunos: Integer)(qntQuestoes: Integer)(listaAluno:List[Aluno])(qntPontuacaoAlunos: Integer)
@content = {

		 @navbar()
		  
		 <!-- CARD MAIN -->
          <div class="row">
            <div class="col s12 offset-m1 m10">
              <div class="card defaultCard default-page-margin-top">
                <div class="card-content">

                  <div class="row">
                    <div class="card-title color-vermelho" style="line-height: 80%; letter-spacing: 3px;">

                      <div class="col s12 m4 hide-on-small-only"><i class="medium fa fa-pie-chart"></i></div>
                      <div class="col s12 m4 center-align" style="margin-top: 15px;"><span style="font-size: 40px;">Dashboard</span></div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col s12 offset-m1 m10">
                      <div class="row">
                        <h4 style="margin-left: 10px;">@p.getNome().</h4>
                      </div>
                      <div class="row center-align">
                        <div class="col s12 m4">
                          <div class="tag bg-cinza color-cinza">
                            <i class="fa fa-book material-icons" aria-hidden="true"></i> 3 Turmas
                          </div>
                        </div>
                        <div class="col s12 m4">
                          <div class="tag bg-cinza color-cinza">
                            <i class="fa fa-graduation-cap material-icons"></i>@if(qntAlunos == 0){Nenhum aluno} @if(qntAlunos == 1){1 Aluno} @if(qntAlunos > 1){@qntAlunos Alunos}
                          </div>
                        </div>
                        <div class="col s12 m4">
                          <div class="tag bg-cinza color-cinza">
                            <i class="fa fa-question material-icons"></i>@if(qntQuestoes == 0){Nenhuma questao} @if(qntQuestoes == 1){1 Questao} @if(qntQuestoes > 1){@qntQuestoes Questoes}
                          </div>
                        </div>    
                      </div>
                      <div class="row center-align">
                        <div class="col s6 m6">
                          <a onclick="movimento('pontuacaoTotal', 90)" class="waves-effect waves-light">Pontuação total de questões por acertos dos alunos</a>
                        </div>
                        <div class="col s6 m6">
                          <a onclick="movimento('rank', 90)" class="waves-effect waves-light">Vizualizar ranking dos alunos</a>
                        </div>
                      </div>
                      <hr>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col s12 offset-m1 m10">
                      <div id="pontuacaoTotal"><h5>Pontuação total de questões por acertos dos alunos:</h5></div>
                      <div id="bar-chart"></div>
                      <hr>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col s12 offset-m1 m10">
                      <div id="rank"><h5>Ranking dos alunos:</h5></div>
                        <table data-sort-name="pos" data-sort-order="asc" data-toggle="table" data-page-size="10" data-search="true" data-pagination="false" data-cache="false" class="students-table">
	                    <thead>
	                       <tr>
	                       	   <th data-field="pos" data-sortable="true">Position</th>
		                       <th data-field="name" data-sortable="true">Name</th>
		                       <th data-field="points" data-sortable="true">Points</th>
	                       </tr>
	                    </thead>
	                    <tbody>
	                    	<!-- for a partir daqui { -->
	                        @for(index <- 0 until listaAluno.size()){
		                      <tr>
		                      	<td>@(index+1)</td>
		                      	<td>@listaAluno.get(index).getNome()</td>
		                      	<td>@listaAluno.get(index).getPontuacao()</td>
		                      </tr>
	                        }
	                      	<!-- for até aqui } -->
	                    </tbody>
	                  </table>
                      <hr>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div><!-- FIM card -->
          
          <script type="text/javascript">
		  $(document).ready(function(){
		    drawChart();
		  });

		    function drawChart(){
        $('#bar-chart').html("loading");
        setTimeout(function(){
          $('#bar-chart').html("");
          Morris.Bar({
            element: 'bar-chart',
            data: [
              { y: 'Pontuação total', a: @(qntQuestoes*200*qntAlunos), b: @qntPontuacaoAlunos },
            ],
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['das questões', 'dos alunos'],
            barColors: ['#0770E2','#00773C'],
            resize: true
          });
        }, 0);
    }
		  </script>
}

@main("Teacher, e-Lessons")(content)
