@(li: List[Instituicao])
<!DOCTYPE html>
<html>
    <head>
	    @views.html.metatags()
	    <title>Teacher, e-Lessons</title>
      
	    @views.html.cssimports()	    
	    @views.html.jsimports()
	    
	</head>
	<body class="bg-aula">
		<main>
			<div class="container">
			
				@views.html.navbarlogin()
		        
				<!-- CARD LOGIN -->
		        <div class="row" style="margin-bottom:0px !important;">
		          <div class="col s12 offset-m3 m6">
		            <div class="card defaultCard default-page-margin-top hoverable">
		              <div class="card-content center-align">
		
		                <i class="large fa fa-user" style="margin-bottom: 5px;"></i><br/>
		                <span class="card-title" style="line-height: 80%; letter-spacing: 3px;">Teacher</span>
		
		                <div class="row">
		                  <form action="@routes.ProfessorController.logar()" method="post" class="col s12">
		                  		
		                    <div class="row" style="margin-bottom: 10px !important;">
		                      <div class="input-field col s12 offset-m1 m10">
		                        <input id="login" name="login" autocomplete="off" type="text">
		                        <label for="login">Login</label>
		                      </div>
		                    </div>
		
		                    <div class="row" style="margin-bottom: 10px !important;">
		                      <div class="input-field col s12 offset-m1 m10">
		                        <input id="password" name="password" type="password">
		                        <label for="password">Password</label>
		                      </div>
		                    </div>
		                    
		                  	<div class="row" style="margin-bottom: 3px !important;">
		                  	  <div class="col s12 offset-m1 m10">
								<select name="inst" class="browser-default color-vermelho">
								  <option disabled selected>Choose your institution</option>
								  @for(i <- li){							  
								  <option value="@i.getCnpj">@i.getNome</option>
								  }
								</select>
							  </div>
		                    </div>
		
				            <div class="row">
				            	<div class="input-field col s12">
				                	<button type="submit" class="waves-effect waves-light btn btn-medium bg-vermelho">go</button>
								</div>
							</div>
		
		                    <div class="card-action" style="margin-bottom: -35px !important;">
		                      <a href="@routes.ProfessorController.esqueceuSenha()">Forgot your password?</a>
		                    </div>
		
		                  </form>
		                </div>
		
		              </div>
		            </div>
		          </div>
		        </div><!-- FIM card -->
	
			</div>
	    </main>
	</body>
	@if(flash().get("erro") != null){		
	<script>
		$(document).ready(function(){
			var $toastContent = $('<span>@flash().get("erro")</span>');
			Materialize.toast($toastContent, 5000);
		});
	</script>
	}
</html>