@(title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
	    @views.html.metatags()
	    <title>@title</title>
      
	    @views.html.cssimports()	    
	    @views.html.cssextraimports()
	    
	    @views.html.jsimports()
	    @views.html.jsextraimports()
	    
	    <!--Import Text Area-->
	    <!-- https://www.tinymce.com/docs/demo/ -->
	    <script type="text/javascript" src="@routes.Assets.at("materialize/js/tinymce/tinymce.min.js")"></script>
	    
	</head>

    <body class="bg-gelo">
        @views.html.loading(0)
    	<main>
	    	<div class="container">
	    		@content
	    	</div>
    	</main>
    	@views.html.footer()
    </body>
</html>
