		  <!-- NAV -->
          <div class="row">
            <div class="navbar-fixed">
              <nav class="padding-nav bg-azul" role="navigation">
                <div class="nav-wrapper">
                  <a href="#!" class="brand-logo">e-Lessons</a>
                  <a href="#" data-activates="side-menu" class="vert-margined button-collapse waves-effect btn-radius"><i class="material-icons">menu</i></a>
                  <ul class="right hide-on-med-and-down">
                    <!-- Dropdown Trigger -->
                    <li><a class="waves-effect" href="@routes.ProfessorController.index()">Dashboard</a></li>
                    <li><a class="waves-effect" href="@routes.ProfessorController.salas()">Classrooms</a></li>
                    <li><a class="waves-effect" href="@routes.ProfessorController.alunos()">Students</a></li>
                    <li><a class="waves-effect" href="@routes.ProfessorController.questoes()">Questions</a></li>
                    <li><a class="waves-effect" href="@routes.ProfessorController.configuracao()">Configuration</a></li>
                    <li><a class="waves-effect" href="@routes.ProfessorController.logoff()">Logoff<i class="material-icons right not-margin">close</i></a></li>
                  </ul>
                  <ul class="side-nav" id="side-menu">
                    <li class="close-nav"><a href="#"><span class="material-icons">close</span></a></li>

                    <li><a class="waves-effect waves-red" href="@routes.ProfessorController.index()">
                      <div class="material-icons">insert_chart</div>Dashboard</a>
                    </li>
                    <li><a class="waves-effect waves-red" href="@routes.ProfessorController.salas()">
                      <div class="material-icons">class</div>Classrooms</a>
                    </li>
                    <li><a class="waves-effect waves-red" href="@routes.ProfessorController.alunos()">
                      <div class="material-icons">supervisor_account</div>Students</a>
                    </li>
                    <li><a class="waves-effect waves-red" href="@routes.ProfessorController.questoes()">
                      <div class="material-icons">mode_edit</div>Questions</a>
                    </li>
                    <li><a class="waves-effect waves-red" href="@routes.ProfessorController.configuracao()">
                      <div class="material-icons">settings</div>Configuration</a>
                    </li>
                    <li><a class="waves-effect waves-red" href="@routes.ProfessorController.logoff()">
                      <div class="material-icons">power_settings_new</div>Logoff</a>
                    </li>
                  </ul>
                </div>
                  <a href="#" data-activates="side-menu" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

              </nav>
            </div>
          </div><!-- FIM NAV -->