		  <!-- NAV -->
          <div class="row">
            <div class="navbar-fixed">
              <nav class="padding-nav bg-azul" role="navigation">
                <div class="nav-wrapper">
                  <a href="#!" class="brand-logo">e-Lessons</a>
               	  <a href="#" data-activates="side-menu" class="button-collapse waves-effect btn-radius"><i class="fa fa-bars" aria-hidden="true"></i></a>
                  <ul class="right hide-on-med-and-down">
                    <!-- Dropdown Trigger -->
                    <li><a class="waves-effect" href="@routes.ProfessorController.index()">Dashboard</a></li>
                    <!--<li><a class="waves-effect" href="@routes.ProfessorController.salas()">Classrooms</a></li>!-->
                    <li><a class="waves-effect" href="@routes.ProfessorController.alunos()">Students</a></li>
                    <li><a class="waves-effect" href="@routes.ProfessorController.questoes()">Questions</a></li>
                    <li><a class="waves-effect" href="@routes.ProfessorController.configuracao()">Configuration</a></li>
                    <li><a class="waves-effect" href="@routes.ProfessorController.logoff()">Logoff<i class="tiny-small fa fa-close right not-margin"></i></a></li>
                  </ul>
                  <ul class="side-nav" id="side-menu">
					<li class="close-nav"><a href="#"><i class="small fa fa-times" aria-hidden="true"></i></a></li>    

                    <li><a class="waves-effect waves-red" href="@routes.ProfessorController.index()">
                      <i class="tiny-small fa fa-pie-chart" style="margin-right: 26px;"></i>Dashboard</a>
                    </li>
                    <!--<li><a class="waves-effect waves-red" href="@routes.ProfessorController.salas()">
                      <i class="tiny-small fa fa-book" style="margin-right: 26px;"></i>Classrooms</a>
                    </li>!-->
                    <li><a class="waves-effect waves-red" href="@routes.ProfessorController.alunos()">
                      <div class="tiny-small fa fa-graduation-cap" style="margin-right: 22px;"></div>Students</a>
                    </li>
                    <li><a class="waves-effect waves-red" href="@routes.ProfessorController.questoes()">
                      <div class="tiny-small fa fa-question" style="margin-right: 33px;"></div>Questions</a>
                    </li>
                    <li><a class="waves-effect waves-red" href="@routes.ProfessorController.configuracao()">
                      <i class="tiny-small fa fa-wrench" style="margin-right: 26px;"></i>Configuration</a>
                    </li>
                    <li><a class="waves-effect waves-red" href="@routes.ProfessorController.logoff()">
                      <i class="tiny-small fa fa-power-off" aria-hidden="true" style="margin-right: 27px;"></i>Logoff</a>
                    </li>
                  </ul>
                </div>
                  <a href="#" data-activates="side-menu" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

              </nav>
            </div>
          </div><!-- FIM NAV -->