@(template: Integer)
<!DOCTYPE html>
  <html>
    <head>
      @views.html.metatags()
      <title>Business, e-Lessons</title>
      
      @views.html.cssimports()	    
	  @views.html.jsimports()

    </head>

    <body class="bg-instituicao">
    	
      <div class="container">

      @views.html.navbarlogin()

        <!-- CARD LOGIN -->
        <div class="row" style="margin-bottom:0px !important;">
          <div class="col s12 offset-m3 m6">
            <div class="card defaultCard default-page-margin-top hoverable">
              <div class="card-content center-align">

                <i class="large fa fa-university" style="margin-bottom: 10px"></i><br/>
                <span class="card-title" style="line-height: 80%; letter-spacing: 3px;">Business</span>
                
                @if(template == 0){
                <div class="row">
                 <div class="col s12 offset-m1 m10" style="margin-top:30px; margin-bottom: -15px !important;">
                 	Informe seu login para que possamos ajudá-lo.
                 </div>
                </div>

                <div class="row">
                  <form action="@routes.InstituicaoController.lembrarSenha()" method="post" class="col s12">

                    <div class="row">
                      <div class="input-field col s12 offset-m1 m10">
                        <input id="email" name="email" autocomplete="off" type="text">
                        <label for="email">Email</label>
                      </div>
                    </div>

		            <div class="row">
		            	<div class="input-field col s12">
		                	<button type="submit" class="waves-effect waves-light btn btn-medium bg-vermelho">send</button>
						</div>
					</div>

                 	<div class="card-action" style="margin-bottom: -35px !important;">
                		<a href="./login" style="margin-right: 0px !important;">BACK</a>
					</div> 
				 </form>
                </div>
                }

				@if(template == 1){
				<div class="row">
                 <div class="col s12 offset-m1 m10" style="margin-top:50px;">
                 	<center><i class="small material-icons color-verde">done</i><br/>Para finalizar, confira a nova senha no seu email.</center>
                 </div>
                </div>
				}
              </div>
            </div>
          </div>
        </div><!-- FIM card -->

    </div> <!-- FIM container -->

  </body>
  	@if(flash().get("erro") != null){		
	<script>
		$(document).ready(function(){
			var $toastContent = $('<span>@flash().get("erro")</span>');
			Materialize.toast($toastContent, 5000);
		});
	</script>
	}
</html>