<!DOCTYPE html>
  <html>
    <head>
      @views.html.metatags()
      <title>Business, e-Lessons</title>
      
      @views.html.cssimports()	    
	  @views.html.jsimports()

    </head>

    <body class="bg-instituicao">
    	
      <div class="container">

      @views.html.navbarlogin()

        <!-- CARD LOGIN -->
        <div class="row" style="margin-bottom:0px !important;">
          <div class="col s12 offset-m3 m6">
            <div class="card defaultCard default-page-margin-top hoverable">
              <div class="card-content center-align">

                <i class="large material-icons">business</i><br/>
                <span class="card-title" style="line-height: 80%; letter-spacing: 3px;">Business</span>

                <div class="row">
                  <form action="@routes.InstituicaoController.logar()" method="post" class="col s12">

                    <div class="row">
                      <div class="input-field col s12 offset-m1 m10">
                        <input id="login" name="login" autocomplete="off" type="text">
                        <label for="login">Login</label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="input-field col s12 offset-m1 m10">
                        <input id="password" name="password" type="password">
                        <label for="password">Password</label>
                      </div>
                    </div>

		            <div class="row">
		            	<div class="input-field col s12">
		                	<button type="submit" class="waves-effect waves-light btn btn-medium bg-vermelho">go</button>
						</div>
					</div>

                    <div class="card-action" style="margin-bottom: -35px !important;">
                      <a href="@routes.InstituicaoController.esqueceuSenha()">Forgot your password?</a>
                    </div>

                  </form>
                </div>

              </div>
            </div>
          </div>
        </div><!-- FIM card -->

    </div> <!-- FIM container -->
	
  </body>
  	@if(flash().get("erro") != null){		
	<script>
		$(document).ready(function(){
			var $toastContent = $('<span>@flash().get("erro")</span>');
			Materialize.toast($toastContent, 5000);
		});
	</script>
	}
</html>