<!DOCTYPE html>
  <html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="Materialize is a modern responsive CSS framework based on Material Design by Google. ">
      <title>Business, e-Lessons</title>
      
      @views.html.cssimports()	    
	  @views.html.jsimports()

    </head>

    <body class="bg-instituicao">
    	
      <div class="container">

      @views.html.navbarlogin()

        <!-- CARD LOGIN -->
        <div class="row" style="margin-bottom:0px !important;">
          <div class="col s12 offset-m3 m6">
            <div class="card defaultCard default-page-margin-top hoverable">
              <div class="card-content center-align">

                <i class="large material-icons">business</i><br/>
                <span class="card-title" style="line-height: 80%; letter-spacing: 3px;">Business</span>

                <div class="row">
                  <form class="col s12">

                    <div class="row">
                      <div class="input-field col s12 offset-m1 m10">
                        <input id="login" type="text">
                        <label for="login">Login</label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="input-field col s12 offset-m1 m10">
                        <input id="password" type="password">
                        <label for="password">Password</label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="input-field col s12">
                       <a class="waves-effect waves-light btn btn-medium bg-vermelho">go</a>
                      </div>
                    </div>

                    <div class="card-action" style="margin-bottom: -35px !important;">
                      <a href="#">Forgot your password?</a>
                    </div>

                  </form>
                </div>

              </div>
            </div>
          </div>
        </div><!-- FIM card -->

    </div> <!-- FIM container -->

  </body>
</html>