@(i: models.Instituicao)(qntAlunos: Integer)(qntProfessores: Integer)(qntQuestoes: Integer)(statusLicenca: Integer)(licenca: models.Licenca)
                  <div class="row">
                      <div class="col s12 m12">                  		                  
		                  <!--<div class="row" style="margin-bottom: 0px !important;">!-->
		                    <!-- <div class="col s4 m4">
		                      <div class="row center-align">
		                        <div id="donut-chart" style="width: 100%; height:200px;"></div>
		                      </div>
		                    </div>-->
		                    <!--<div class="col s12 offset-m1 m10">
		                      <div class="row center-align">
		                        <div id="bar-chart" style="width: 100%; height:200px;"></div>
		                      </div>
		                    </div>
		                  </div>!-->
		                  	                  				
		                  <div class="row">
		                    <div class="col s12 offset-m1 m10">
		                      <div class="row center-align">
		                        <div class="col s12">
		                          <div class="tag bg-cinza color-cinza">
		                            <i class="tiny-small fa fa-graduation-cap material-icons" aria-hidden="true"></i> @if(qntAlunos == 0){None student} @if(qntAlunos == 1){1 Student} @if(qntAlunos > 1){@qntAlunos Students}
		                          </div>
		                        </div>
		                        <div class="col s12">
		                          <div class="tag bg-cinza color-cinza">
		                            <i class="fa fa-user material-icons" aria-hidden="true"></i> @if(qntProfessores == 0){None teacher} @if(qntProfessores == 1){1 Teacher} @if(qntProfessores > 1){@qntProfessores Teachers}
		                          </div>
		                        </div>
		                        <div class="col s12">
		                          <div class="tag bg-cinza color-cinza">
		                            <i class="fa fa-question material-icons" aria-hidden="true"></i> @if(qntQuestoes == 0){None question} @if(qntQuestoes == 1){1 Question} @if(qntQuestoes > 1){@qntQuestoes Questions}
		                          </div>
		                        </div>    
		                      </div>
		                    </div>
		                  </div>
		                  
		                  <div class="row" style="margin-bottom: -20px !important;">
		                    <div class="col s12 offset-m1 m10">
		                      <div class="col s12">
		                          <div class="tag bg-cinza color-cinza">
		                            <i class="fa fa-star material-icons"></i> @i.getLicenca()
		                          </div>
		                      </div> 
		                      <div class="row center-align">
		                        <div class="col s12">
		                          <div class="tag bg-cinza color-cinza">
		                            <i class="fa fa-phone material-icons"></i> @i.getTelefoneFormatado()
		                          </div>
		                        </div>
		                        <div class="col s12">
		                          <div class="tag bg-cinza color-cinza">
		                            <i class="fa fa-map-marker material-icons"></i> @i.getEndereco()
		                          </div>
		                        </div>
		                        <div class="col s12">
		                          <div class="tag bg-cinza color-cinza">
		                            <i class="fa fa-university material-icons"></i> @i.getCnpjFormatado()
		                          </div>
		                        </div>
		                        <div class="col s12">
		                          <div class="tag bg-cinza color-cinza">
		                            <i class="fa fa-envelope material-icons"></i> @i.getEmail()
		                          </div>
		                        </div>   
		                        
		                      </div>
		                    </div>
		                  </div>
		
		              </div>
                    </div>
                    
<script type="text/javascript">
     	$(document).ready(function(){
     		drawBarChart();
     		drawPieChart();
     	})
	
	    function drawPieChart(){
	      var chart = $('#donut-chart');
	      chart.html("loading");
	      setTimeout(function(){
	        chart.html("");
	        var valor = @statusLicenca;
	        Morris.Donut({
	          element: 'donut-chart',
	          resize: true,
	          data: [
	            {label: "Used", value: valor},
	            {label: "Available", value: 100-valor},
	          ],
	          colors: ['#AD1414', '#00773C'],
	          formatter: function (x) {return x+"%"}
	        });
	      }, 0);
	    }
     	
     	function drawBarChart(clas){
     		var chart = $('#bar-chart');
     	    chart.html("loading");
     	    setTimeout(function(){
     	    	chart.html("");
     	        Morris.Bar({
     	          element: 'bar-chart',
     	          data: [
     	            { y: 'Students', a: @qntAlunos, b: @licenca.getQntAlunos()-@qntAlunos },
     	          ],
     	          xkey: 'y',
     	          ykeys: ['a', 'b'],
     	          labels: ['Used', 'Available'],
     	          barColors: ['#AD1414','#00773C'],
     	          resize: true
     	        });
     	    }, 0);
     	}
  	</script>