@(i: models.Instituicao)(idProfessor: String)(nome: String)(email: String)(senha: String)(host: String)(tipo: Integer)
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
<strong>
	<h1>Olá, @nome</h1>
</strong>

@*Mensagem de cadastro*@
@if(tipo == 0){ 
<p>@i.getNome() registered you as a student from the institution.<br/>
All you have to do now is confirm your email on the link below.</p>

<strong>
	<h2>Confirm your account:</h2>
</strong>	
<a href="http://@host@routes.AlunoController.ativar()?i=@util.Seguranca.encryptString(i.getCnpj())&p=@util.Seguranca.encryptString(idProfessor)&e=@util.Seguranca.encryptString(email)" target="_blank">
http://@host@routes.AlunoController.ativar()?i=@util.Seguranca.encryptString(i.getCnpj())&p=@util.Seguranca.encryptString(idProfessor)&e=@util.Seguranca.encryptString(email)
</a>
<br/><br/>

<strong>
	<h2>Access password:</h2>
</strong>
<p>This is your access code, keep it safely.<br/>
<!--  You can change it on the configuration page of your control panel.--></p>

<h3>@senha</h3>
<br/>

<p>If you did not authorize this registration, please ignore this email.<br>
Smart Educ</p>
}




@*Mensagem de alteracao*@
@if(tipo == 1){
<p>All you have to do now is confirm your email on the link below.</p>

<strong>
	<h2>Confirm your modification:</h2>
</strong>	
<a href="http://@host@routes.AlunoController.ativar()?i=@util.Seguranca.encryptString(i.getCnpj())&p=@util.Seguranca.encryptString(idProfessor)&e=@util.Seguranca.encryptString(email)" target="_blank">
	http://@host@routes.AlunoController.ativar()?i=@util.Seguranca.encryptString(i.getCnpj())&p=@util.Seguranca.encryptString(idProfessor)&e=@util.Seguranca.encryptString(email)
</a>
<br/><br/>

<p>Smart Educ</p>
}




@*Mensagem de alteracao*@
@if(tipo == 2){
<p>New password generated for you.</p>

<strong>
	<h2>Access password:</h2>
</strong>
<p>This is your access code, keep it safely.<br/>
<!-- You can change it on the configuration page of your control panel. --></p>

<h3>@senha</h3>
<br/><br/>

<p>Smart Educ</p>
}




@*Mensagem de alteracao*@
@if(tipo == 3){
<p>@i.getNome() has changed your email, you have to confirm it on the link below.</p>
<strong>
	<h2>Confirm your modification:</h2>
</strong>	
<a href="http://@host@routes.AlunoController.ativar()?i=@util.Seguranca.encryptString(i.getCnpj())&p=@util.Seguranca.encryptString(idProfessor)&e=@util.Seguranca.encryptString(email)" target="_blank">
	http://@host@routes.AlunoController.ativar()?i=@util.Seguranca.encryptString(i.getCnpj())&p=@util.Seguranca.encryptString(idProfessor)&e=@util.Seguranca.encryptString(email)
</a>
<br/><br/>

<strong>
	<h2>Access password:</h2>
</strong>
<p>This is your new access code, keep it safely.<br/>
<!-- You can change it on the configuration page of your control panel. --></p>

<h3>@senha</h3>
<br/><br/>

<p>Smart Educ</p>
}




@*Mensagem de Lembrete Senha*@
@if(tipo == 4){
<p>We need to generate a new password for you, click on the link below.</p>
<strong>
	<h2>Link to generate a new password:</h2>
</strong>	
<a href="http://@host@routes.AlunoController.esqueceuSenha()?i=@util.Seguranca.encryptString(i.getCnpj())&p=@util.Seguranca.encryptString(idProfessor)&e=@util.Seguranca.encryptString(email)" target="_blank">
	http://@host@routes.AlunoController.esqueceuSenha()?i=@util.Seguranca.encryptString(i.getCnpj())&p=@util.Seguranca.encryptString(idProfessor)&e=@util.Seguranca.encryptString(email)
</a>
<br/><br/>

<p>Smart Educ</p>
}
</body>
</html>