@(template: Integer)
@content = {
		  <!-- CARD CONTENT -->
          <div class="row" style="margin-top: 50px;">
            <div class="col s12 offset-m3 m6">
              <div class="card defaultCard default-page-margin-top">
                <div class="card-content">

                  <div class="row">
                    <div class="card-title color-vermelho" style="line-height: 80%;">
                      <div class="col s12 m4 hide-on-small-only"><i class="medium material-icons">supervisor_account</i></div>
                      <div class="col s12 m4 center-align" style="letter-spacing: 3px; margin-top: 15px;"><span style="font-size: 40px;">Hello!</span></div>
                    </div>
                  </div>

                  	@if(template == 0){
	                <div class="row">
	                 <div class="col s12 offset-m1 m10" style="margin-top:30px; margin-bottom: -15px !important;">
	                 	<center>Informe seu login para que possamos ajudá-lo.</center>
	                 </div>
	                </div>
	
	                <div class="row">
	                  <form action="@routes.AlunoController.lembrarSenha()" method="post" class="col s12">
	
	                    <div class="row">
	                      <div class="input-field col s12 offset-m1 m10">
	                        <input id="email" name="email" autocomplete="off" type="text">
	                        <label for="email">Email</label>
	                      </div>
	                    </div>
	
			            <div class="row">
			            	<div class="input-field col s12">
			                	<center><button type="submit" class="waves-effect waves-light btn btn-medium bg-vermelho">send</button></center>
							</div>
						</div>
					 </form>
	                </div>
	                }
	                
	                @if(template == 1){
					<div class="row">
	                 <div class="col s12 offset-m1 m10" style="margin-top:50px;">
	                 	<center><i class="small material-icons color-verde">done</i><br/>Para finalizar, confira a nova senha no seu email.</center>
	                 </div>
	                </div>
					}

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- FIM card --> 	
          
          	@if(flash().get("erro") != null){		
			<script>
				$(document).ready(function(){
					var $toastContent = $('<span>@flash().get("erro")</span>');
					Materialize.toast($toastContent, 5000);
				});
			</script>
			}	
}
@main("e-Lessons")(content)