@(a: models.Aluno)(pontosLevel1: Integer)(pontosLevel2: Integer)(pontosLevel3: Integer)(pontosLevel4: Integer)(qntQuestoes: Integer)

<div class="row">
  <h5 style="color:#444; font-size: 18px;"><strong>Teacher:</strong> @a.getProfessor().getNome()</h5>
</div>
<hr>
<div class="row center-align">
	<h5 style="color:#444;">Student progess:</h5>
	<div id="bar-line" style="width: 100%; height:200px;"></div>
</div>
<div class="row center-align">
  <div class="col s12 offset-m1 m10">
    <div id="pontuacaoTotal"><h5 style="color:#444;">Student performance:</h5></div>
      <div id="bar-chart"></div>
  </div>
</div>
      <!-- Chart captions !-->
      <ul>
      <li><i class="tiny-small fa fa-stop material-icons" style="color:#0770E2"></i><a style="color:#444">&nbspNumber of questions answered from this student x Maximum score of a question(200)</a></li>
      <li><i class="tiny-small fa fa-stop material-icons" style="color:#00773C"></i><a style="color:#444">&nbspTotal score of all answered questions from this student</a></li>
      </ul>
      <!-- End Chart captions !--> 

<script type="text/javascript">
	$(document).ready(function(){
		drawLineChart();
	});

	function randomIntFromInterval(){   
	      var min = 50;
	      var max = 100;
	      return Math.floor(Math.random()*(max-min+1)+min);
	    }
	
    function drawLineChart(){
      $('#bar-line').html("loading");
      setTimeout(function(){
        $('#bar-line').html("");
        Morris.Line({
          element: 'bar-line',
          data: [
            	@if(a.getLevel() >= 1 && a.getLevel() <= 5){{ y: 'Level 1', level: @pontosLevel1}}
            	@if(a.getLevel() >= 6 && a.getLevel() <= 10){{ y: 'Level 1', level: @pontosLevel1},{ y: 'Level 2', level: @pontosLevel2}}
            	@if(a.getLevel() >= 11 && a.getLevel() <= 15){{ y: 'Level 1', level: @pontosLevel1},{ y: 'Level 2', level: @pontosLevel2},{ y: 'Level 3', level: @pontosLevel3}}
            	@if(a.getLevel() >= 16 && a.getLevel() <= 20){{ y: 'Level 1', level: @pontosLevel1},{ y: 'Level 2', level: @pontosLevel2},{ y: 'Level 3', level: @pontosLevel3},{ y: 'Level 4', level: @pontosLevel4}}
            	@if(a.getLevel() > 20){{ y: 'Level 1', level: @pontosLevel1},{ y: 'Level 2', level: @pontosLevel2},{ y: 'Level 3', level: @pontosLevel3},{ y: 'Level 4', level: @pontosLevel4}}
          ],
          xkey: 'y',
          ykeys: ['level'],
          labels: ['Score'],
          parseTime: false,
          resize: true,
        });
      }, 0);
    }

      $(document).ready(function(){
        drawChart();
      });

        function drawChart(){
        $('#bar-chart').html("loading");
        setTimeout(function(){
          $('#bar-chart').html("");
          Morris.Bar({
            element: 'bar-chart',
            data: [
              { y: 'Total score', a: @(qntQuestoes*200), b: @a.getPontuacao() },
            ],
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['questions', 'student'],
            barColors: ['#0770E2','#00773C'],
            resize: true
          });
        }, 0);
    }    
</script>