		<!-- NAV -->
        <div class="row">
          <div class="navbar-fixed">
            <nav class="padding-nav bg-azul">
              <div class="nav-wrapper">
                <a href="#!" class="brand-logo">e-Lessons</a>
                <a href="#" data-activates="side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                  <li><a href="../../">Home</a></li>
                </ul>
                <ul class="side-nav" id="side-menu">
                  <li class="close-nav"><a href="#"><span class="material-icons">close</span></a></li>
                  <li><a href="../../" class="waves-effect waves-red"><div class="material-icons">home</div><div>Home</div></a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div><!-- FIM NAV -->