		  <!-- NAV -->
          <div class="row" style="margin-bottom:0px;">
            <div class="navbar-fixed">
              <nav class="padding-nav bg-azul">
                <div class="nav-wrapper">
                  <a href="#!" class="brand-logo">e-Lessons</a>
                  <a href="#" data-activates="side-menu" class="vert-margined button-collapse waves-effect btn-radius"><i class="fa fa-bars" aria-hidden="true"></i></a>
                  <ul class="right hide-on-med-and-down">
                    <li><a class="waves-effect" href="javascript://" onclick="movimento('top', 55)">Home</a></li>
                    <li><a class="waves-effect" href="javascript://" onclick="movimento('about', 55)">About</a></li>
                    <li><a class="waves-effect" href="javascript://" onclick="movimento('contact', 55)">Contact</a></li>
                    <li><a class="waves-effect" href="@routes.InstituicaoController.index()">Business</a></li>
                    <li><a class="waves-effect" href="@routes.ProfessorController.index()">Teacher</a></li>
                  </ul>
                  <ul class="side-nav" id="side-menu">
                    <li class="close-nav"><a href="#"><i class="small fa fa-times" aria-hidden="true"></i></a></li>
                    <li><a href="javascript://" onclick="movimento('top', 55)" class="waves-effect waves-red"><i class="tiny-small fa fa-home" aria-hidden="true" style="margin-right: 25px;"></i>Home</a></li>
                    <li><a href="javascript://" onclick="movimento('about', 55)" class="waves-effect waves-red"><i class="tiny-small fa fa-info-circle" aria-hidden="true" style="margin-right: 27px;"></i>About</a></li>
                    <li><a href="javascript://" onclick="movimento('contact', 55)" class="waves-effect waves-red"><i class="tiny-small fa fa-envelope" aria-hidden="true" style="margin-right: 25px;"></i>Contact</a></li>
                    <li><a href="@routes.InstituicaoController.index()" class="waves-effect waves-red"><i class="tiny-small fa fa-university" aria-hidden="true" style="margin-right: 22px;"></i>Business</a></li>
                    <li><a href="@routes.ProfessorController.index()" class="waves-effect waves-red"><i class="tiny-small fa fa-user" aria-hidden="true" style="margin-right: 32px;"></i>Teacher</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div><!-- FIM NAV -->