		<!-- NAV -->
        <div class="row">
          <div class="navbar-fixed">
            <nav class="padding-nav bg-azul">
              <div class="nav-wrapper">
                <a href="#!" class="brand-logo">e-Lessons</a>
                <a href="#" data-activates="side-menu" class="button-collapse waves-effect btn-radius"><i class="fa fa-bars" aria-hidden="true"></i></a>
                <ul class="right hide-on-med-and-down">
                  <li><a href="../../">Home</a></li>
                </ul>
                <ul class="side-nav" id="side-menu">
                    <li class="close-nav"><a href="#"><i class="small fa fa-times" aria-hidden="true"></i></a></li>
                  <li><a href="../../" class="waves-effect waves-red"><i class="tiny-small fa fa-home" aria-hidden="true" style="margin-right: 25px;"></i>Home</a></a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div><!-- FIM NAV -->